<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dysjsjy.TransactionManagement.mapper.StudentsMapper">

    <resultMap id="BaseResultMap" type="com.dysjsjy.TransactionManagement.model.entity.Students">
            <id property="studentId" column="student_id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="classId" column="class_id" jdbcType="INTEGER"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        student_id,name,class_id,
        email,phone
    </sql>
</mapper>
